<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">

<head>
    <title>Listar</title>
</head>

<body>
    <div layout:fragment="pagina">
        <div class='card w-90'>
            <div class="panel-heading"
                style="background-color: #0D6EFD; justify-content: left;display: flex;align-items: center; height: 60px;">
                <h3 class="panel-title center" style="color:white">
                    &nbsp;&nbsp;<i class="bi bi-card-list"></i>Lista de recompensas por canjear</h3>
            </div>
            <div class="col-md-12">
                <div class='card-body'>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nombre Estudiante</th>
                                    <th scope="col">Curso</th>
                                    <th scope="col">Nombre Recompensa</th>
                                    <th scope="col">Descripción</th>
                                    <th scope="col">Canjear</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="recompensa, index : ${recompensas}">
                                    <td th:text="${index.index + 1}"></td>
                                    <td th:text="${estudiantes[index.index].nombre} + ' ' + ${estudiantes[index.index].apellidoPaterno} + ' ' + ${estudiantes[index.index].apellidoMaterno}" ></td>
                                    <td th:text="${estudiantes[index.index].curso.nombreCurso}"></td>
                                    <td th:text="${recompensa.recompensa.nombre}"></td>
                                    <td th:text="${recompensa.recompensa.descripcion}"></td>
                                    <td th:if="${recompensa.canjeado} == 0">
                                        <form th:action="@{/canjearrecompensa/pendiente/} + ${recompensa.id}" th:method="PUT">
                                            <button type="submit" class="btn btn-primary">
                                                <i class="bi bi-check-circle-fill"></i>
                                              </button>
                                        </form>
                                    </td>
                                    <td th:if="${recompensa.canjeado} == 1">
                                        <button class="btn btn-secondary"><i class="bi bi-circle-fill"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>